// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$font-family-sans-serif: 'Lexend Deca', sans-serif;
// $lead-font-weight: 400;
$font-size-base:    1rem !default; // Assumes the browser default, typically `16px`


// scss-docs-start theme-color-variables

$info:     hsl(179, 100%, 13%);
$secondary:          hsl(184, 100%, 22%);
$warning:       hsl(31, 77%, 52%);

$danger:        hsl(0, 0%, 95%); //background, headings, buttons
$light: hsla(0, 0%, 100%, 0.75); //paragraphs
$body-color:               hsla(0, 0%, 100%, 0.75);


@import "../node_modules/bootstrap/scss/bootstrap";

h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 3rem;
    // color: aqua;
}
.nuevoEstiloCard{
    overflow: hidden;
    height: 700px;
    border-color: rgb(255, 38, 0);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.botonEstilo{
    border: 3px solid $light;
    
}
.botonEstilo:hover{
    background-color: transparent;
    color: $light !important;
    // border: 3px solid $light;
   
}

// Then add additional custom code here
@media (min-width: 440px) {
    .nuevoEstiloCard{
        overflow: visible;
    }
  }